In [1]:
import pandas as pd
venda = {'data': ['15/02/2023', '23/05/2025'],
         'valor': [500, 350],
         'qtde': [2, 50],
        }
vendas_df = pd.DataFrame(venda)

In [2]:
print(vendas_df)

         data  valor  qtde
0  15/02/2023    500     2
1  23/05/2025    350    50

In [3]:
display(vendas_df)

         data  valor  qtde
0  15/02/2023    500     2
1  23/05/2025    350    50

In [4]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [5]:
display(vendas_df.head(10))
print(vendas_df.shape)
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

In [6]:
produtos = vendas_df[['Produto', 'Valor Unitário']]
display(produtos)

                 Produto  Valor Unitário
0         Sapato Estampa             358
1               Camiseta             180
2          Sapato Xadrez             368
3                Relógio             200
4           Chinelo Liso              71
...                  ...             ...
93905     Mochila Xadrez             283
93906  Pulseira Listrado              79
93907     Cueca Listrado              67
93908     Pulseira Linho             114
93909      Casaco Xadrez             259

[93910 rows x 2 columns]

In [7]:
#PEGAR SOMENTE UMA LINHA
#display(vendas_df.loc[0:5])

#Pegar linhas por condicao
#display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping'])

#Pegar linhas por condicao e determinadas colunas
#display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['Produto', 'Quantidade', 'Valor Final']])

#Pegar um item especifico linha x col
#display(vendas_df.loc[1, 'Produto'])

In [13]:
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
#vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
#print(vendas_df)

In [9]:
vendas_df.loc[:, "Imposto"] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

In [10]:
#vendas_df_dez = pd.read_excel("Vendas - Dez.xlsx")
vendas_df_dez = pd.read_excel("Vendas - Dez.xlsx")
#vendas_df = vendas_df_dez.append(vendas_df_dez)
display(vendas_df)

C:\Users\Lucas Freire\AppData\Local\Temp\ipykernel_8740\4061359023.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df = vendas_df_dez.append(vendas_df_dez)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [15]:
#EXCLUIR LINHA E COLUNA
vendas_df = vendas_df.drop('Comissão', axis = 1)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [16]:
#VALORES VAZIOS
#Deletar linhas e colunas completamente vazias
#vendas_df = vendas_df.dropna(how='all', axis = 1)

#Deletar linhas que possuem pelo menos 1 valor vazio
#vendas_df = vendas_df.dropna()

#Preencher valors vazios
#Preencher com a media da coluna
#vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())

#Preencher com o ultimo valor
#vendas_df = vendas_df.ffill()

In [18]:
#value count
transacoes_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_loja)

#groupby
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

Rio Mar Recife                      732
Iguatemi Campinas                   630
Shopping Morumbi                    612
Shopping Eldorado                   608
Salvador Shopping                   604
Palladium Shopping Curitiba         602
Center Shopping Uberlândia          600
Shopping Vila Velha                 598
Rio Mar Shopping Fortaleza          588
Parque Dom Pedro Shopping           580
Shopping Iguatemi Fortaleza         580
Passei das Águas Shopping           578
Bourbon Shopping SP                 572
Shopping Recife                     572
Shopping União de Osasco            568
Ribeirão Shopping                   554
Shopping Ibirapuera                 546
Shopping SP Market                  544
Shopping Barra                      520
Shopping Midway Mall                518
Iguatemi Esplanada                  516
Norte Shopping                      510
Shopping Center Interlagos          508
Novo Shopping Ribeirão Preto        478
Shopping Center Leste Aricanduva    460
Name: ID Loja, dtype: int64

                  Valor Final
Produto
Bermuda                 36900
Bermuda Estampa         37180
Bermuda Linho           51090
Bermuda Liso            37366
Bermuda Listrado        40424
...                       ...
Tênis Estampa           64000
Tênis Linho             69972
Tênis Liso              68096
Tênis Listrado          51876
Tênis Xadrez            59052

[120 rows x 1 columns]

In [20]:
#Mesclar 2 dataframes
gerentes_df = pd.read_excel("Gerentes.xlsx")
#display(gerentes_pd)
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Gerente
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,Gisele
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,Gisele
2,65020,2019-12-01,Shopping Morumbi,Pulseira Listrado,4,79,316,Gisele
3,65020,2019-12-01,Shopping Morumbi,Camiseta Xadrez,5,200,1000,Gisele
4,65020,2019-12-01,Shopping Morumbi,Camisa Listrado,2,108,216,Gisele
...,...,...,...,...,...,...,...,...
14173,69959,2019-12-25,Shopping Eldorado,Polo Liso,4,137,548,Paulo
14174,69959,2019-12-25,Shopping Eldorado,Camisa Linho,3,141,423,Paulo
14175,69959,2019-12-25,Shopping Eldorado,Cueca Xadrez,1,60,60,Paulo
14176,69986,2019-12-26,Shopping Eldorado,Cueca Estampa,4,66,264,Paulo
14177,69986,2019-12-26,Shopping Eldorado,Terno Listrado,3,709,2127,Paulo